body {
  margin: 0;
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #e7f6fe;
  h1 {
    color: red;
  }
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  width: 1080px;
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, .05);
  background: #fff;
}

header {
  border-bottom: 1px solid #eaeaea;

  img {
    margin-right: 15px;
  }

  h3, p {
    margin: 0;
  }
  
}

.content {
  h1 {
    margin: 0;
  }
}

.button {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.search-block {
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  padding: 0 13px;

  input {
    width: 200px;
    border: 0;
    padding: 10px;
    font-size: 16px;
  }
}

.items {
  flex: 1;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}

.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
    font-size: 24px;
  }

  .items {
    overflow: auto;
    margin-bottom: 40px;
  }
}

.cart {
  &__item {
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;


    &-img {
      width: 70px;
      height: 70px;
      margin-right: 20px;
      background-size: contain;
      background-position: 0 -3px;
      background-repeat: no-repeat;
    }

    p {
      margin: 0;
      font-size: 16px;
    }

    b {
      font-size: 14px;
    }

    img {

    }
  }

  &__remove-button {
    opacity: .5;
    transition: opacity .25s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.cartTotalBlock {
  ul {
    margin-bottom: 40px !important;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    
      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }
  .green-button {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform .15s ease-in-out;
    }
  }
}

.green-button {
  width: 100%;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: background .25s ease-in-out;
  cursor: pointer;

  &:hover {
    background: lighten(#9DD558, 5%);
  }

  &:active {
    background: darken(#9DD558, 5%);
  }
}